body{
 background-color: #1A1A1A;
}
nav {
	display: block;
	margin: 0;
	background-color: black;
	text-align: left;
	color: white;
	height: 70px;
	width: 12990px;
	position: fixed;
	top: 0;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 90px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 0;
	word-spacing: 20em;
	font-size: 20px;
	font-family:Futura, 'Trebuchet MS', Arial, sans-serif;
}
nav li{
	display: inline;
	word-spacing: 1em;
	
}
h1{
	font-family: 'platz_stencilregular';
	text-align: center;
	font-size: 90pt;
	color: white;
	font-family: sans-serif;
}
a:link, a:hover, a:active, a:visited {
	color:white;
	background-color: transparent;
    text-decoration:none;
}

#walter p{
		text-align: center;
		font-size: 90px;
		font-family: 'platz_stencilregular';
		color: #ffffff;
		position: relative;
		top: 115px;
		left: -3px;
		width: 1290px;
		height: 400px;
		padding-top: 0px;
		z-index: -1;
		/*border: 1px solid blue;*/
}

#paul p{
	text-align: center;
	font-size: 90px;
	font-family: 'platz_stencilregular';
	color: white;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 20px;
	z-index: -1;
}
#paul{
	width: 1100px;
	height: 400px;
	position: absolute;
	top: 95px;
	left: 1950px;
}
#simple p{
	width: 1300px;
	height: 400px;
	text-align: center;
	font-size: 90px;
	font-family: 'platz_stencilregular';
	color: red;
	position: absolute;
	top: 115px;
	left: 3590px;
	z-index: -1;
}

#red img{
	z-index: -2;
	position: absolute;
	top: 5px;
	left: 3590px;
}

img{
	z-index: -2;
	position: absolute;
	top: 5px;
	left: 1800px;
}

#blue img{
	z-index: -2;
	position: absolute;
	top: 5px;
	left: 15px;
	
}
/*.box{
	height: 70px;
	width: 1000px;
	z-index: 1;
}*/