@import url(../platzStencil/stylesheet.css);
body{
 background-color: #262626;
}
nav {
	display: block;
	margin: 0;
	background-color: black;
	text-align: left;
	color: white;
	height: 70px;
	position: relative;
	top: 20%;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 90px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 0;
	word-spacing: 20em;
	font-size: 20px;
	font-family:Futura, 'Trebuchet MS', Arial, sans-serif;
}
nav li{
	display: inline;
	word-spacing: 1em;
}

h1{
	position: absolute;
	top: 150px;
	left: 580px;
	text-align: center;
	font-size: 90pt;
	color: white;
	font-family:'platz_stencilregular';
	font-weight: normal;
    font-style: normal;
	margin: 5px;
	padding: 2px;
}

a:link, a:hover, a:active, a:visited {
	color:white;
	background-color: transparent;
    text-decoration:none;
}
p{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
}

.box{
	border: 1px solid #b3b3b3;
	background-color: #b3b3b3;
	width: 790px;
	height: 680px;
	padding: 3px;
	margin: 3px;
	position: relative;
	top: 230px;
	left: 430px;
}
.wrapper {
	position: relative;
	left: 30px;
}
.circle1{
	width: 10px;
	height: 10px;
	border: 1px solid #414345; /*#DAE0E6*/
	border-radius: 50%;
	background-color: #414345;
	padding: 2px;
	position: absolute;
	top: 600px;
	left: 250px;
}
.circle2{
	width: 10px;
	height: 10px;
	border: 1px solid #414345;
	border-radius: 50%;
	background-color: #414345;
	padding: 2px;
	position: absolute;
	top: 600px;
	left: 280px;
}
.circle3{
	width: 10px;
	height: 10px;
	border: 1px solid #414345;
	border-radius: 50%;
	background-color: #414345;
	padding: 2px;
	position: absolute;
	top: 600px;
	left: 310px;
}
.circle4{
	width: 10px;
	height: 10px;
	border: 1px solid #414345;
	border-radius: 50%;
	background-color: #414345;
	padding: 2px;
	position: absolute;
	top: 600px;
	left: 340px;
}
.circle5{
	width: 10px;
	height: 10px;
	border: 1px solid #414345;
	border-radius: 50%;
	background-color: #414345;
	padding: 2px;
	position: absolute;
	top: 600px;
	left: 370px;
}
.circle6{
	width: 10px;
	height: 10px;
	border: 1px solid #414345;
	border-radius: 50%;
	background-color: #414345;
	padding: 2px;
	position: absolute;
	top: 600px;
	left: 400px;
}
.circle7{
	width: 10px;
	height: 10px;
	border: 1px solid #414345;
	border-radius: 50%;
	background-color: #414345;
	padding: 2px;
	position: absolute;
	top: 600px;
	left: 430px;
}
.circle8{
	width: 10px;
	height: 10px;
	border: 1px solid #414345;
	border-radius: 50%;
	background-color: #414345;
	padding: 2px;
	position: absolute;
	top: 600px;
	left: 460px;
}
.circle9{
	width: 10px;
	height: 10px;
	border: 1px solid #414345;
	border-radius: 50%;
	background-color: #414345;
	padding: 2px;
	position: absolute;
	top: 600px;
	left: 490px;
}

#white{
	position:absolute;
	top: 60px;
	left: 110px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 8;
}
#num{
	position:absolute;
	top: 60px;
	left: 70px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 7;
}
#punct{
	position:absolute;
	top: 60px;
	left: 70px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 6;
}
#whole{
	position:absolute;
	top: 60px;
	left: 70px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 9;
}
#front{
	position:absolute;
	top: 60px;
	left: 230px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 5;
}
#back{
	position:absolute;
	top: 60px;
	left: 230px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 4;
}
#post{
	position:absolute;
	top: 60px;
	left: 160px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 3;
}
#card{
	position:absolute;
	top: 60px;
	left: 160px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 2;
}
#letter{
	position:absolute;
	top: 60px;
	left: 70px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 1;
}